name: lint text

on:
  push:
    paths:
      - 'docs/index.md'

jobs:
  build:
    name: lint text
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: 'package.json'
          cache: 'yarn'
      - run: yarn install
      - name: lint text
        run: yarn run lint